* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    position: relative;
    background-color: hsl(271, 84%, 95%);
}

.semi-circle-1 {
    background-color: hsl(289, 85%, 46%);
    height: 950px;
    width: 500px;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 300px;
    margin-left: -200px;
    z-index: -1;
}

.semi-circle-2 {
    background-color: hsl(270, 6%, 87%);
    height: 80vh;
    width: 35%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    margin-right: -200px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.app {
    position: absolute;
    top: 150px;
    left: 220px;
}

.app-outer {
    height: 790px;
    width: 340px;
    position: relative;
    border-radius: 25px;
    background-color: hsl(0, 0%, 100%);
}

.app-inner {
    height: 770px;
    width: 320px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 25px;
    background-color: hsl(270, 20%, 96%);
}

.app-notch {
    position: absolute;
    top: 0;
    left: 70px;
    height: 25px;
    width: 180px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.app-bar {
    background-image: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    height: 100px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: hsl(271, 15%, 43%);
    padding-top: 40px;
    display: flex;
    gap: 20px;
}

.app-bar-text {
    font-size: 10px;
    position: relative;
    left: 0;
}

.app-bar-img-one {
    position: relative;
    left: 20px;
}

.app-bar-img-three {
    position: absolute;
    right: 20px;
}

.app-bar-text-1 {
    font-size: 14px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.app-bar-text-2 {
    font-weight: 400;
    color: hsl(276, 100%, 81%);
}

.chat-left {
    width: 230px;
    height: 60px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    color: hsl(276, 55%, 52%);
    background-color: hsl(0, 1%, 86%);
    font-size: 14px;
}

.chat-left-2 {
    width: 230px;
    height: 60px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    color: hsl(276, 55%, 52%);
    background-color: hsl(0, 1%, 86%);
    font-size: 14px;
}

.chat-left-3 {
    width: 230px;
    height: 80px;
    margin-top: 140px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    color: hsl(276, 55%, 52%);
    background-color: hsl(0, 1%, 86%);
    font-size: 14px;
}

.chat-left-4 {
    width: 280px;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    color: hsl(276, 55%, 52%);
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat-left-4-text {
    color: hsl(276, 100%, 81%);
}

.chat-left-4-text-2 {
    position: relative;
    left: 50px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 19px;
}

.chat-left-4-text-2.two {
    position: relative;
    left: 80px;
}

.input-bar {
    width: 90%;
    height: 50px;
    border: 1px solid rgb(249, 249, 252);
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 25px;
    background-color: #ffffff;
    position: relative;
}

.input-text {
    margin-top: 15px;
    margin-left: 40px;
    color: hsl(276, 100%, 81%);
}

.input-img {
    width: 50px;
    position: absolute;
    top: -1px;
    right: 0;
    color: #3e2753;
    filter: invert(16%) sepia(17%) saturate(2122%) hue-rotate(229deg) brightness(92%) contrast(92%);
}

.chat-right {
    width: 230px;
    height: 60px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
    border-bottom-right-radius: 5px;
    color: hsl(271, 15%, 43%);
    background-color: hsl(0, 0%, 100%);
    font-size: 14px;
    position: absolute;
    right: 10px;
}

.chat-right-2 {
    border-radius: 15px;
    border-bottom-right-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(271, 15%, 43%);
    margin-top: 80px;
    width: 50%;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    right: 10px;
}

.chat-img {
    width: 50px;
    border-radius: 10px;
}

.chat-imgs {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 10px;
    gap: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.text {
    margin-top: 400px;
}

.radio {
    border: 1px solid hsl(276, 100%, 81%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.main-content {
    position: absolute;
    left: 700px;
    top: 400px;
}

.main-header {
    color: hsl(271, 36%, 24%);
    font-size: 40px;
    font-weight: 500;
}

.main-text {
    margin-top: 20px;
    color: hsl(270, 7%, 64%);
    line-height: 25px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}