* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    position: relative;
}

.semi-circle-1 {
    background-color: hsl(289, 85%, 46%);
    height: 80vh;
    width: 35%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    margin-left: -100px;
    z-index: -1;
}

.semi-circle-2 {
    background-color: hsl(270, 20%, 96%);
    height: 80vh;
    width: 35%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    margin-right: -200px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.app {
    position: absolute;
    top: 30px;
    left: 500px;
}

.app-outer {
    border: 1px solid hsl(270, 1%, 64%);
    height: 750px;
    width: 400px;
    position: relative;
    border-radius: 25px;
}

.app-inner {
    border: 1px solid hsl(270, 4%, 59%);
    height: 730px;
    width: 380px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 25px;
    background-color: hsl(270, 20%, 96%);
}

.app-notch {
    position: absolute;
    top: 0;
    left: 70px;
    height: 25px;
    width: 140px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.app-bar {
    background-image: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    height: 100px;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: hsl(271, 15%, 43%);
    padding-top: 40px;
    display: flex;
    gap: 20px;
}

.app-bar-text {
    font-size: 10px;
    position: relative;
    left: 0;
}

.app-bar-img-one {
    position: relative;
    left: 20px;
}

.app-bar-img-three {
    position: absolute;
    right: 20px;
}

.app-bar-text-1 {
    font-size: 14px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.app-bar-text-2 {
    font-weight: 400;
    color: hsl(276, 100%, 81%);
}

.chat-left {
    width: 230px;
    height: 60px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    color: hsl(276, 55%, 52%);
    background-color: hsl(0, 1%, 86%);
    font-size: 14px;
}

.chat-left-2 {
    width: 230px;
    height: 60px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    color: hsl(276, 55%, 52%);
    background-color: hsl(0, 1%, 86%);
    font-size: 14px;
}

.chat-left-3 {
    width: 230px;
    height: 80px;
    margin-top: 140px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    color: hsl(276, 55%, 52%);
    background-color: hsl(0, 1%, 86%);
    font-size: 14px;
}

.chat-left-4 {
    width: 230px;
    height: 60px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 5px;
    color: hsl(276, 55%, 52%);
    background-color: hsl(0, 1%, 86%);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat-right {
    width: 230px;
    height: 60px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
    border-bottom-right-radius: 5px;
    color: hsl(271, 15%, 43%);
    background-color: hsl(0, 0%, 100%);
    font-size: 14px;
    position: absolute;
    right: 10px;
}

.chat-right-2 {
    border-radius: 15px;
    border-bottom-right-radius: 5px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(271, 15%, 43%);
    margin-top: 80px;
    width: 50%;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    right: 10px;
}

.chat-img {
    width: 50px;
    border-radius: 10px;
}

.chat-imgs {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 10px;
    gap: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.text {
    margin-top: 400px;
}

.radio {
    border: 1px solid hsl(0, 0%, 100%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}